@model LiveSupport.Data.User

@{
    ViewBag.Title = "Operator details";
}

<h2>Details</h2>

<fieldset>
    <legend>User</legend>


    <div class="display-label">UserName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>


    <div class="display-label">LastActivityDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastActivityDate)
    </div>

    <div class="display-label">Company</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Company.FullName)
    </div>

    <div class="display-label">FullName</div>
    <div class="display-field">
        @ViewBag.UserProfile.FullName
    </div>

</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
