@model IEnumerable<LiveSupport.Models.RegisterOperatorModel>

@{
    ViewBag.Title = "List of operators";
}

<h2>@ViewRes.Operator.Index.ListOfOperators</h2>

<table>
<tr><th>Online operators:</th><td>@ViewBag.OnlineOperators</td></tr>
</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            UserName
        </th>
        <th>
            Password
        </th>
        <th>
            FullName
        </th>
        <th>
            Total Sessions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserName }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserName }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserName }) |
            @Html.ActionLink("Sessions", "Index", "Session", new {supporter=item.UserID}, null)

        </td>
        <td>
            @item.UserName
        </td>
        <td>
            @item.Password
        </td>
        <td>
            @item.FullName
        </td>
        <td>
            @item.TotalSessions
        </td>
    </tr>
}

</table>

