@{
    Layout = null;
}

<!DOCTYPE html>

<html> 
<head>
    <title>Ask</title>
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.signalR.min.js")"></script>
    <script src="@Url.Content("~/Scripts/knockout-1.3.0beta.js")" type="text/javascript"></script>
    <script type="text/javascript" src="/signalr/hubs"></script>
</head>
<body>
     <script type="text/javascript">
         var chat;
         var viewModel;
         var timerID;
         var soundEnabled = true;
         var isTyping = false;

         this.scrollToBottom = function () {
             $("#chatContainer").animate({ scrollTop: $("#chatContainer")[0].scrollHeight });
         };

         $(function () {
             // SignalR hub initialization
             chat = $.connection.liveSupport;
             $.connection.hub.start(
                 function () {
                 }
             );

             chat.receive = function (name, message, clientID) {
                 $("#messages").append("<li> " + showtime() + " <b>" + name + "</b>: " + message + "</li>");
                 scrollToBottom();
                 if (soundEnabled) {
                     $("#audioElement").trigger("play");
                 }
             }

             chat.operatorConnected = function (name) {
                 clearInterval(timerId);
                 viewModel.operatorName(name);
             }

             viewModel = {
                 fullName: ko.observable(),
                 eMail: ko.observable(),
                 question: ko.observable(),
                 operatorName: ko.observable()
             };


             ko.applyBindings(viewModel);

         });


        function Send(e) {
            e = e || event;
            if (e.keyCode === 13 && !e.ctrlKey) {
                chat.sendMessage($('#txtMessage').val());
                $('#txtMessage').val('');
                isTyping = false;
            }
            else {
                if (!isTyping) {
                    isTyping = true;
                    chat.typing();
                }
            }
            return true;
        }

        function startChat() 
        {
            if ($("#name").val() == null || $("#name").val() == "" || $("#question").val() == null || $("#question").val() == "") {
                if ($("#name").val() == null || $("#name").val() == "") {
                    $("#lblName").css("color","red");
                }
                else {
                    $("#lblName").css("color", "");
                }

                if ($("#question").val() == null || $("#question").val() == "") {
                    $("#lblQuestion").css("color", "red");
                }
                else {
                    $("#lblQuestion").css("color", "");
                }
                return false;
            }

            var userBrowser = {
                UserAgent: navigator.userAgent,
                OS: "Windows",
                Name: navigator.appName,
                CurrentPage: '@Html.Raw(ViewBag.CurrentPage)',
                Version: "11",
                IP: '@Html.Raw(ViewBag.IPAddress)'
            };


            var userInfo = {
                Name: viewModel.fullName(),
                eMail: viewModel.eMail(),
                Question: viewModel.question()
            }
            chat.init('@Html.Raw(ViewBag.SupportCompany)', userBrowser, userInfo);

            $("#overlay").hide();            
            $("#UserInfo").hide();

            timerId = setInterval(function () {
                chat.close(
                    function () {
                        window.location = "SendMail?company=@Html.Raw(ViewBag.SupportCompany)";
                    }
                );

                // interval function body
            }, 30000);

        }

         function Close() 
         {
             chat.close();
         }

         function Sound()
         {
            soundEnabled = !soundEnabled;

            if (soundEnabled) {
                $("#btnSound").attr("src", "/images/audio-volume-high.png");
            }
            else {
                $("#btnSound").attr("src", "/images/audio-volume-muted.png");
            }

         }

         function showtime() {
             var now = new Date();
             var hours = now.getHours();
             var minutes = now.getMinutes();
             var seconds = now.getSeconds()

             if (hours < 10) hours = "0" + hours;
             if (minutes< 10) minutes = "0" + minutes;
             if (seconds< 10) seconds = "0" + seconds;

             return hours + ":" + minutes + ":" + seconds;
         }

     </script>    
     <style>
            html, body {
            height: 100%;
            }           
            
            body
            {
                margin: 0;    
            }
            
         ul
         {
             margin-left: -1em;
         }
         
         ul li
         {
             margin-left: -1em;
             font-family:Helvetica, Verdana, Tahoma, Arial;
         }
         
         #chatContainer{
            overflow:auto; 
            min-height:200px;
            height:200px;              
            width:100%; 
         }
         
         #overlay
         {
             background-color: LightBlue;
             display:block;
             left: 0;
             right:0;
             top:0;
             bottom:0;
             opacity: 0.8;
             position: absolute;
             z-index:999;
         }
         
         #UserInfo         
         {
             position:absolute;
             z-index:1001;
             top: 15%;
             left:35%;
             background: LightGray;
             margin: 0 auto;
             opacity: 1.0;
         }
         
         #chatBox
         {
            width:100%; 
             display:block;
             -moz-border-radius:5px;
             -moz-border-radius:5px;                          
             border-radius:5px;
            -moz-box-shadow: 10px 10px 5px #888;
            -webkit-box-shadow: 10px 10px 5px #888;
            box-shadow: 10px 10px 5px #888;
         }
         
         #footer
         {
             margin: 0 auto;
             text-align:center;
             font-family: verdana,arial;             
             font-size:10px;
         }
         #btnClose
         {
             cursor:pointer;
         }
         #btnSound
         {
             cursor:pointer;
         }
         #btnSendMessage
         {
             height:75px;
             float:left;
         }
         #txtMessage
         {
             width:95%;
             height: 75px;
             float:left;
         }
         
         #OperatorCompanyDetails
         {
             display:block;
             background-color: LightBlue;
             padding-right: 10px;
             padding-top:10px;
             font-family: Helvetica, Verdana, Tahoma, Arial;
         }
         
         #OperatorDetails
         {
             float:right;
         }
     </style>
    <audio id="audioElement">
       <source src="/Content/sound/ding.ogg" type="audio/ogg" /> 
       <source src="/Content/sound/ding.wav" type="audio/wav" /> 
    </audio>

    <div style="min-height:100%;">

    <div id="OperatorCompanyDetails">
        <img src='@Url.Action("DisplayLogo", "Company", new {company= ViewBag.SupportCompany})' alt='logo' />
        <div id="OperatorDetails">
            Operator: <span data-bind="text: operatorName" />
        </div>
    </div>

    <div style="display:block;background-color:Gray; height:30px;">
        <div id="controlButtons" style="float:right;  display:block; ">
            <!-- <button id="btnStart" onclick=@Html.Raw("chat.init('"+ @Html.Raw(ViewBag.SupportCompany) +"');") >Init</button> -->
            <img id="btnSound" title="Sound" src="/images/audio-volume-high.png" alt="Sound" onclick="Sound();" style="padding-right:10px;"/>
            <img id="btnClose" title="Close" src="/images/close.png" alt="Close" onclick="Close();" style="padding-right:10px;"/>
        </div>
    </div>
    
    <div id="chatBox">
        <div id="chatContainer">
            <ul id="messages" style="list-style-type:none; margin-left:-1em;"></ul>
        </div>
        <div id="buttons" style="height:100px;">
            <table style="width:100%">
                <tr>
                    <td><textarea id="txtMessage" style="resize:none" onkeyup="Send(event)"> </textarea></td>
                    <td style="width:60px"><button id="btnSendMessage" onclick="chat.sendMessage($('#txtMessage').val()); $('#txtMessage').val(''); isTyping= false;">Send</button></td>
                </tr>
            </table>

        </div>
        <div id="footer">
            Powered by <a href="http://moplig.com" target="_blank">Moplig.com</a>
        </div>
    </div>
    
    <div id="overlay">
        <div id="UserInfo">
            <fieldset>
                <legend>Provide more information</legend>

                <div class="editor-label">
                   <label id="lblName">Name *</label>
                </div>
                <div class="editor-field">
                    <input id="name" data-bind="value: fullName"/>
                </div>

                <div class="editor-label">
                    <label>E-mail</label>
                </div>
                <div class="editor-field">
                    <input data-bind="value: eMail" />
                </div>

                <div class="editor-label">
                    <label id="lblQuestion">Question *</label>
                </div>
                <div class="editor-field">
                    <textarea id="question" data-bind="value: question" rows="5" cols="30"></textarea>
                </div>
                <p>
                    <button id="btnStartChat" onclick="startChat()">Start</button>
                </p>
            </fieldset>
        </div>
    </div>

    
    </div>
</body>
</html>
