@{
ViewBag.Title = "Pricing";
}

<style>
p
{
    margin-bottom:20px;
}
h2
{
    margin-top: 0px;
}
</style>
<div style="width:100%; height:400px;">
<div id="Prices" style="margin-bottom:30px; width:90% ">
    <div style="float:left; width:20%"><img src="/images/emblem-money.png" alt="Money" /></div>
    <div style="float:left; width:80%">
    <h2>@ViewRes.Pricing.Index.MoneyHeader</h2>
    <p>@ViewRes.Pricing.Index.MoneyParagraph</p>
    </div>

    <div style="float:left; width:20%"><img src="/images/emblem-percentage.png" alt="Discount" /></div>
    <div style="float:left; width:80%">
    <h2>@ViewRes.Pricing.Index.DiscountHeader</h2>
    <p>@ViewRes.Pricing.Index.DiscountParagraph</p>
    </div>

    <div style="float:left; width:20%"><img src="/images/payment_types-paypal.png" alt="PayPal" /></div>
    <div style="float:left; width:80%">
    <h2>@ViewRes.Pricing.Index.PayPalHeader</h2>
    <p>@ViewRes.Pricing.Index.PayPalParagraph</p>
    </div>

    <div style="float:left; width:20%"><img src="/images/date.png" alt="Trial period" /></div>
    <div style="float:left; width:80%">
    <h2>@ViewRes.Pricing.Index.TrialPeriodHeader</h2>
    <p>@ViewRes.Pricing.Index.TrialPeriodParagraph</p>
    </div>

    <div style="float:left; width:20%"><img src="/images/security-high-2.png" alt="SSL Secured" /></div>
    <div style="float:left; width:80%">
    <h2>@ViewRes.Pricing.Index.SSLHeader</h2>
    <p>@ViewRes.Pricing.Index.SSLParagraph</p>
    </div>

</div>

</div>


