@model IEnumerable<LiveSupport.Areas.Admin.Models.CompanyInfoModel>

@{
    ViewBag.Title = "Usage";
}

<h2>Usage</h2>

<table>
    <tr>
        <th>
            CompanyName
        </th>
        <th>
            OnlineOperators
        </th>
        <th>
            MaxOperators
        </th>
        <th>
            OnlineClients
        </th>
        <th>
            TotalSessions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.CompanyName
        </td>
        <td>
            @item.OnlineOperators
        </td>
        <td>
            @item.MaxOperators
        </td>
        <td>
            @item.OnlineClients
        </td>
        <td>
            @item.TotalSessions
        </td>
    </tr>
}

</table>

