@model IEnumerable<LiveSupport.Data.Session>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script type="text/javascript">
    //Set hidden variable to go to next/prev/last/first page and submit the form
    function goToPage(pageIndex) {
        $("#currentPage").val(pageIndex);
        $("#gridAction").val("CurrentPageChanged");

        submitForm();
    }

    //Set action performed in hidden variable. When PageSize changes - PageIndex needs to be
    //reset to 1. This logic will go on the server side.
    function onPageSizeChange(pageIndex) {
        $("#gridAction").val("PageSizeChanged");
        submitForm();
    }

    function submitForm() {
        var form = $("#grid").parents("form:first");
        form.submit();
    }  
</script>

@using (Html.BeginForm()) {
    <div>
    <table>
        <tr>
            <td></td> 
            <td><a href="#" onclick="goToPage(1)">&lt;&lt;</a> <a href="#" onclick="goToPage(@ViewData["previousPage"])">&lt;</a> Page @ViewData["currentPage"] of @ViewData["lastPage"] <a href="#" onclick="goToPage(@ViewData["nextPage"])">&gt;</a> <a href="#" onclick="goToPage(@ViewData["lastPage"])">&gt;&gt;</a></td> 
            <td>@Html.DropDownList("pageSize", LiveSupport.Controllers.SessionController.PageSizeSelectList(), new { onchange = "onPageSizeChange()"}) rows per page</td>
         </tr>
    </table>
    @Html.Hidden("currentPage")
    @Html.Hidden("gridAction")
    </div>
     


    <div id="grid">
        <table>
            <tr>
                <th></th>
                <th>
                    StartDate
                </th>
                <th>
                    EndDate
                </th>
                <th>
                    UserID
                </th>
                <th>
                    Client
                </th>
            </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                </td>
                <td>
                    @String.Format("{0:g}", item.StartDate)
                </td>
                <td>
                    @String.Format("{0:g}", item.EndDate)
                </td>
                <td>
                    @item.UserID
                </td>
                <td>
                    @item.Client
                </td>
            </tr>
        }

        </table>
    </div>

}